body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cinza-fundo);
}
h1{
    color:  var(--b2);
}


input[type="radio"]{
    width: 20px;
    height: 20px;
    color: black;
}

.container{
    width: 70%;
    height: 800px;
    border-radius: 10px;

}

.avatar{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.avatar h1{
    margin: 10px auto;
}

.cadastrar{
    width: 60%;
    margin: 10px auto;
    background: var(--cinza-fundo);
}

.label{
    color: var(--b4);
    font-weight: 600;
    font-size: 18px;
    width: 600px;
    display: block;
    margin: 20px auto;
}
.cadastrar input{
    width: 600px;
    height: 40px;
    display: block;
    border: none;
    margin: 10px auto;
    background: transparent;
    border-bottom: 1px solid var(--b6);
    font-family: var(--font-text);
}
.cadastrar span{
    font-family: var(--font-text);
    color: var(--b4);
    margin: 20px auto ;
    display: flex;
    justify-content: flex-end;
    width: 600px;
}