body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color:  var(--b2);
}


input[type="radio"]{
    width: 20px;
    height: 20px;
    color: black;
}

.container{
    margin-top: 100px;
    width: 80%;
    height: 900px;
    border-radius: 10px;
    background: var(--cinza-fundo);
}

.avatar{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.avatar h1{
    margin: 10px auto;
}

.cadastrar{
    width: 80%;
    margin: 10px auto;

    background: var(--cinza-fundo);
}

.row{
    width: 100%;
    /* background: blue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px 10%;
}

.row .label{
    color: var(--b4);
    font-weight: 600;
    font-size: 18px;
    width: 200px;
    grid-row: 1;
    margin-top: 20px;
}
.row input{
    grid-row: 2;   
    width: 240px;
    height: 40px;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--b6);
    font-family: var(--font-text);

}

.row select{
    border: none;
    /* border-bottom: 1px solid var(--b6); */
    background: var(--light-blue);
    color: var(--b5);
    outline: none;
    width: 200px;
    position: relative;
    cursor: pointer;
}
.row select:disabled{
    background: var(--cinza-fundo);
}


.row ul{
    list-style: none;
    color: var(--b4);
}
.estado li{
    width: 100px;
    display: flex;
    align-items: center;
}

.estado li:hover > ul{
    display: block;
}
.uf{
    display: none;
}

.row .radio{
    font-size: 18px;
    font-family: var(--font-text);
    color: var(--b5);
    font-weight: 300;
    grid-row: 2;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    margin-right: 2px;
    width: 120px;
    /* background: red; */
}
.row .radio{
    width: 240px;
}

.radio{
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    position: relative;
    padding-left: 30px;
}

.radio + .radio{   margin-left: 30px;}

.radio input[type="radio"]{
    display: none;
}

.radio span{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid var(--b5);
    display: block;
    position: absolute;
    left: 0;
    top: 0px; 
}

.radio span:after{
    content: "";
    height: 8px;
    width: 8px;
    background: var(--b5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 300ms ;
}

.radio input[type="radio"]:checked ~ span:after{
    transform: translate(-50%, -50%) scale(1);
}

.enviar{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
