*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --title-color-1: #4E4E4E;
    --primary-color: #0041CC;
    --primary-color-hover: #0033a1;
    --dark-blue-2: #002880;
    --dark-blue-3: #000C26;
    --b1: #181818;
    --b2: #333333;
    --b3: #4D4D4D;
    --b4: #666666;
    --b5: #808080;
    --b6: #999999;
    --b7: #B2B2B2;
    --b8: #CCCCCC;
    --b9: #E5E5E5;
    --background-fundo: #F0F4FD;
    --cinza-fundo: #F8F7F7;
    --light-blue: #B2CBFF;
    --base: #E9F1F9;
    --gray: #a5a5a5;
    --font-principal: 'Archivo', 'Roboto', sans-serif;
    --font-text: 'Poppins', 'Roboto', sans-serif;
}
body{
    width: 100%;
    overflow: hidden;
    background: var(--background-fundo);
}
h1, h2, h3, h4, button{
    font-family: var(--font-principal);
}

p, label, li{
    font-family: var(--font-text);
}

header{
    background: var(--primary-color);
    width: 100%;
    height: 50px;
    /* display: inline-block; */
    position: fixed;
    top: 0;
    margin-top: 0;
}
.enviar{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}



.btn-form{
    width: 200px;
    height: 50px;
    /* Primary color */
    background: var(--primary-color);
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    transition: 0.5s;
    margin: 20px auto;
}

.btn-form:hover{
    background: var(--primary-color-hover);
}

.avatar{
    width: 50px;
    height: 50px;
    display: block;
    /* background: red; */
}