*{
    border: 0;
    padding: 0;
    outline: none;
    /* overflow: hidden; */
}
body{
    background: var(--light-blue);
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 80px;
    background: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;

}
header .logo{
    width: 300px;
    /* background: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .logo h1{
    /* font-family: 'Fomtage Script'; */
    font-family: 'Stilda Script';
    /* font-family: 'Thunder Demo'; */
    letter-spacing: 2px;
    font-size: 40px;
    margin-left: 10px;
    color: #fff;
}

header menu{

}
header menu ul{
    display: flex;
    flex-direction: row;
}

header menu ul li{
    height: 25px;
    display: flex;
    align-items: center;
    margin: 2px 15px;
    border: none;
    padding: 0 10px;
    box-sizing: unset;
}

header menu ul li a{
    color: #fff;
    text-decoration: none;
    font-family: var(--font-principal);
    font-size: 20px;
    font-weight: 400;
    transition: 0.5s;
}
header menu ul li a:hover{
    text-decoration: underline;
    color: rgb(168, 198, 255);
    transition: 0.5s;
}

.container{
    width: 100%;
    height: 670px;
    background: url('../assets/fundo_570.svg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.article_1{
    width: 520px;
    height: 372px;
}

.article_1 h2{
    font-weight: 700;
    font-size: 40px;
    color: var(--b1);
    letter-spacing: 0.05em;
}

.article_1 p{
    margin-top: 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: var(--b2);
}


.ilustration{
    max-width: 480px;
}

.ilustration img{
    max-width: 480px;
}
.button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: var(--primary-color);
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.05em;
    margin-top: 50px;
    transition: 0.5s;
}
.button:hover{
    background: #0033a1;
}

.quem_somos{
    width: 100vw;
    height: 726px;
    margin-top: 20px;
    background: linear-gradient(180deg, #B2CBFF 0%, #FCFCFC 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.servicos{
    width: 100vw;
    height: 500px;
    background: #FCFCFC;
}

.servicos h2{
    font-family: var(--font-principal);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: var(--b3);
    margin: 0 auto;
    width: 530px;
    height: 30px;
    letter-spacing: 0.05em;
}
.servicos::before{
    content: '';
    z-index: 1;
    position: absolute;
    width: 80%;
    height: 1px;
    background: var(--b7);
    margin-top: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.servicos .categorias{
    width: 100vw;
    height: 400px;
    /* background: blue; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.categoria{
    width: 211px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 5%;
    /* background: red; */
}
.categoria i{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 50px;
    color: var(--b4);
    background: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoria p{
    font-family: var(--font-text);
    font-weight: 600;
    font-size: 20px;
    color: var(--b5);
}

footer{
    width: 100%;
    height: 400px;
    background: #FCFCFC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--cinza-fundo);
    /* background: red; */
    color: var(--b4);
}
footer h2{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
}

footer h4{
    font-size: 20px;
    font-family: 600;
}
footer p{
    font-size: 18;
    font-weight: 400;
    font-family: var(--font-text);
    color: var(--b6);
    margin: 10px auto;
}

footer::after{
    content: '';
    z-index: 1;
    position: absolute;
    width: 90%;
    height: 1px;
    background: var(--b7);
    /* margin-bottom: -200px; */
    margin: 0 5% -200px;
    /* transform: translateX(-50%); */
}